@font-face {
  font-family: 'Salesforce Sans';
  src: url("./../fonts/sales-sans/SalesforceSans-Light.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("./../fonts/sales-sans/SalesforceSans-LightItalic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("./../fonts/sales-sans/SalesforceSans-Regular.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("./../fonts/sales-sans/SalesforceSans-Italic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("./../fonts/sales-sans/SalesforceSans-Bold.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-BoldItalic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700; }

body {
    font-family: 'Salesforce Sans';
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
}
.checkbox-container  {
    margin-top: 10px;
}
.checkbox-container .checkbox {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 15px;
}
.checkbox-container > label {
    margin-bottom: 14px;
    display: block;
}
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #0070d2;
    border-color: #0070d2;
}
button.close {
    height: 30px;
    width: 30px;
    background-color: #0070d2;
    opacity: 1;
    text-shadow: none;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -7px;
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    outline: none;
}
button.close:hover{
  opacity: 1;
  color: white
}
.modal.in .modal-dialog{
  margin-top: 100px
}
.flex-row{
  display: flex;
  flex-wrap: nowrap;
}
.right-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 15px;
}
.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0px;
}
.wizard .nav-tabs::after, .wizard .nav-tabs::before{
  display: none
}
.wizard > div.wizard-inner {
position: relative;
max-width: 68%;
margin: 0 auto;
}
.wizard-controls .btn {
    min-width: 114px;
}
    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 20px;
    height: 20px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 5px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 0px 0px 6px white;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 5px solid #1589ee;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.btn-default {
    color: #0070d2;
    background-color: #fff;
    border-color: #ccc;
}
.panel-body {
    padding: 15px;
    background-color: #fff6f3;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {

}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
    display: none;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

    .wizard .tab-pane {
        position: relative;
        padding-top: 0px;
    }
    .wizard .tab-pane .panel {
    margin-bottom: 35px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 35px;
    max-width: 500px;
}
.form-control {
    border: 1px solid #bdbcbc;
}
.form-control:focus {
    border-color: #ffa385;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(230, 224, 222);
}
.wizard h3 {
    margin-top: 0;
    color: #262b2f;
}
.panel-primary {
    border-color: #ff461a82 !important;
    overflow: hidden;
}
.step1 .row {
    margin-bottom:10px;
}
.step_21 {
    border :1px solid #eee;
    border-radius:5px;
    padding:10px;
}
.step33 {
    border:1px solid #ccc;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom:10px;
}
.wdth {
    width:25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}


/* according menu */
#accordion-container {
    font-size:13px
}
.accordion-header {
    font-size:13px;
	background:#ebebeb;
	margin:5px 0 0;
	padding:7px 20px;
	cursor:pointer;
	color:#fff;
	font-weight:400;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.unselect_img{
	width:18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.active-header {
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	background:#F53B27;
}
.active-header:after {
	content:"\f068";
	font-family:'FontAwesome';
	float:right;
	margin:5px;
	font-weight:400
}
.inactive-header {
	background:#333;
}
.inactive-header:after {
	content:"\f067";
	font-family:'FontAwesome';
	float:right;
	margin:4px 5px;
	font-weight:400
}
.accordion-content {
	display:none;
	padding:20px;
	background:#fff;
	border:1px solid #ccc;
	border-top:0;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px
}
.accordion-content a{
	text-decoration:none;
	color:#333;
}
.accordion-content td{
	border-bottom:1px solid #dcdcdc;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #ffffff;
    border-color: #ff46127d;
}
.panel-primary {
    border-color: #6b7e92;
}
.btn-primary {
    color: #fff;
    background-color: #0070d2;
    border-color: #0070d2;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #026ac5;
    border-color: #0070d2;
}
.table-header-innner {
    padding: 13px 25px;
    background-color: #f3f2f2;
    margin-top: 14px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid gainsboro;
    padding-bottom: 30px;
}
.flex-element{
  display: flex;
  justify-content: flex-end;
}
.table-header-innner .media {
    display: flex;
    align-items: center;
}
.table-header-innner .media span {
    margin-bottom: 6px;
    display: block;
}
.table-header-innner .media h4 {
    font-weight: 700;
}
.table-header-innner .media h4 i {
    display: inline-block;
    margin-left: 10px;
}
.table-info-list {
    margin-top: 15px;
}
.table-info-list ul li {
    position: relative;
    padding-right: 6px;
}
.table-info-list ul li::after {
    content: "";
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    right: -3px;
    top: 40%;
    position: absolute;
}
.table-info-list ul li:last-child::after
{
  display: none;
}
.import-dropdown{
  max-width: 102px
}
.right-control-top{
  margin-bottom: 10px
}
.right-control-top .btn {
    color: #0070d2 !important;
    margin-left: 10px;
}
.manage-column{

}
.manage-column i {
    margin-left: 10px;
    color: #2f2e2e;
}
.right-control-bottom .btn {
    color: #706e6b;
    margin-left: 4px;
    line-height: initial;
    padding: 0px 8px;
    outline: none;
}
.search-input {
    position: relative;
    width: 100%;
    max-width: 277px;
}
.search-input .form-control {
    padding-left: 35px;
    height: 30px;
}
.search-input .search-icon {
    position: absolute;
    font-size: 15px;
    color: #706e6b;
    top: 6px;
    left: 12px;
}
.table-header .dopdown-view {
    max-width: 388px;
    flex-basis: 388px;
    background-color: white;
    border-left: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    padding: 20px;
    border-bottom: 1px solid #dddbda;
}
.dropdown-title{
  margin-bottom: 20px
}
.table-header{
  position: relative;
}
.dropdown-box {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
}
.dropdown-inner{

}
.dropdown-inner .dropdown-title h4{
  color: #3E3E3C;
  margin-top: 0px;
  font-size: 16px;
  line-height: 20px;
}
.dropdown-inner .dropdown-title span{
color: #706E6B;
font-size: 12px;
line-height: 15px;
}
.dropdown-inner .dropdown-title span img{

}
.add-column-input {
    position: relative;
}
.add-column-input .form-control {
    padding-right: 37px;
}
.add-column-input a {
    position: absolute;
    right: 10px;
    top: 7px;
}
.column-list {
    margin-top: 16px;
}
.column-list ul {
    list-style-type: none;
    padding: 0px;
}
.column-list ul li label {
    display: block;
    font-weight: normal;
    cursor: pointer;
}
.column-list ul li label input[type=checkbox]{
  display: none;
}
.column-list ul li label input[type=checkbox]:checked + .column-item {
    background-color: #e8f4ff;
    border: 1px solid #0070d2;
}
.column-list ul li .column-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    margin-bottom: 7px;
}
.column-list ul li .column-item.green{
  background-color: #e0f4c5
}
.column-list ul li .column-item.purple{
  background-color: #e1c4ff
}
.column-list ul li .column-item span{
  color: #005FB2;
}
.column-list ul li .column-item a {

}
.right-control-bottom .drop-btn.collapsed,
.right-control-bottom .drop-btn.collapsed:active,
.right-control-bottom .drop-btn.collapsed:focus{
      background-color: #fff;
      color: #706e6b;

}
.right-control-bottom .drop-btn,
.right-control-bottom .drop-btn:active,
.right-control-bottom .drop-btn:focus {
    background-color: #5791e5;
    color: white;
}
.create-sheet-container {
    padding: 45px 0px;
}
.create-sheet-text h2 {
    margin-top: 0px;
    color: #3E3E3C;
    font-weight: 300;
    margin-bottom: 15px;
}
.create-sheet-text {
    margin-bottom: 50px;
}
.create-sheet-container .btn {
    min-width: 190px;
    height: 33px;
    font-weight: 300;
}
.new-sheet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #d8d8d8;
}
.new-sheet-header h4{
  color: #3E3E3C;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
.new-sheet-header .ns-left span{
color: #706E6B;
font-size: 12px;
line-height: 15px;
margin-right: 15px
}
.new-sheet-header .ns-left .btn {
    font-weight: 100;
    height: 30px;
    line-height: 15px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
.new-sheet-sidebar {
    max-width: 388px;
    flex-basis: 388px;
    padding: 20px;
}
.title-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.new-sheet-body {
    display: flex;
}
.table-preview-section {
    flex: 1;
    min-height: calc(100vh - 83px);
    border-left: 2px solid #d8d8d8;
}
.table-info{
  padding: 10px 20px;
  background-color: #d8d8d8;
  color: #706e6b
}
.table-info i{
  margin-right: 15px
}
@media (min-width: 1200px)
{
.container {
    width: 1200px;
}
}
@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
